In [1]:
import pandas as pd
import main_process as mp
import classificationABC as cls

In [2]:
main_file_path = "punto_de_pedido.xlsx"
price_file_path = "20230518130636_PRV-1_FECVIG-20230517_plantillaPreciosCompra.xlsx"

In [3]:
base_dataframe = cls.load_dataset(main_file_path)

In [4]:
main_file_path = mp.main_process(main_file_path,'ARTÍCULO','DESCRIPCIÓN','VTA. PROMEDIO','STOCK', price_file_path,'Artículo','Precio Neto + I. Internos')

In [5]:
main_file_path

,descripcion,vpd,stock,acumulado VPD,Peso de VPD acum.,categoria,Precio Neto + I. Internos,Valorizado
7038,BRAHMA - X12 1000RET#,1068.63,7965.58,1068.63,31.107236,A,4269.638,34010143
7634,BRAHMA - 4X6 LAT 473,287.12,966.46,1355.75,39.465143,A,4912.105,4747352
25668,PEPSI NF PET X6 500CC,131.64,161.50,1487.39,43.297111,A,894.73,144498
7026,QUILMES - X12 1000RET,106.36,98.42,1593.75,46.393193,A,4015.173,395173
25644,7-UP NF PET X6 500CC,102.20,337.00,1695.95,49.368179,A,883.783,297834
...,...,...,...,...,...,...,...,...
20991,PATAGONIA VERA IPA SLIM KEG 20L,0.00,2.00,3435.31,100.000000,C,17022.806,34045
20997,PATAGONIA KUNE CAN 4X6 473 TR,0.00,0.04,3435.31,100.000000,C,8155.805,326
24962,SIDRA 1930 PERA X6 750CC,0.00,0.00,3435.31,100.000000,C,4939.63,0
21919,TEMPLE WOLF IPA SLIM KEG 20L,0.00,0.00,3435.31,100.000000,C,14271.625,0
24116,PDTOROS PET POM SIN AZUCARES X6 1500CC,0.00,0.00,3435.31,100.000000,C,1967.418,0

In [6]:
cls.stock_with_price(result_df,'articulo',df_pc_filtered,price_art_col_name,'Valorizado',price_price_col_name,'stock')

NameError: name 'result_df' is not defined