In [111]:
import pandas as pd
import xlsxwriter

In [112]:
df = pd.read_excel("punto_de_pedido.xlsx")

In [113]:
def column_with_desired_data(raw_dataframe, art, descrip, vpd, stock ,a='',b='',c = '',d=''):

    result_df = raw_dataframe[[art,descrip,vpd,stock]]
    if a != '':
        result_df = result_df.rename(columns={art:a})
  
    if  b != '':
        result_df = result_df.rename(columns={descrip:b})

    if c != '':
        result_df = result_df.rename(columns={vpd:c})

    if d != '':
        result_df = result_df.rename(columns={stock:d})    
         
    return result_df

In [114]:
def sorted_and_cumulative_df(df, column_to_sort, cum_name):
    df = df.sort_values(column_to_sort, ascending=False)
    df[cum_name] = df[column_to_sort].cumsum()
    return df

In [115]:
def vpd_weight(df, cum_column, weights_name):
    total_vpd = list(df[cum_column])[-1]
    df[weights_name] = df[cum_column].apply(lambda x: (x/total_vpd)*100)
    return df

In [116]:
def compare_with_limits(x,a,b):
    if x <= a:
        return 'A'
    elif  x <= b and x > a:
        return 'B'
    else:
        return 'C'

In [117]:
def abc_classification(df,weights_column,a=80, b=95, category_col_name = 'categoria'):
    df[category_col_name] = df[weights_column].apply(lambda x: compare_with_limits(x,a,b))
    return df

In [118]:
def dataframe_dictionary(complete_dataframe, category_column):
    dict_df = {}
    dict_df['A'] = complete_dataframe[complete_dataframe[category_column] == "A"]
    dict_df['B'] = complete_dataframe[complete_dataframe[category_column] == "B"]
    dict_df['C'] = complete_dataframe[complete_dataframe[category_column] == "C"]
    return dict_df

In [119]:
def stock_with_price(df1, column_df1,df2, column_df2,value_column, price_column_name,stock_column_name):
    df1 = df1.set_index(column_df1)
    df2 = df2.set_index(column_df2)
    result = pd.concat([df1, df2], axis=1, join="inner")
    result[value_column] = result[price_column_name] * result[stock_column_name]
    result[value_column] = result[value_column].apply(lambda x: int(x))
    return result

In [120]:
def delete_rows_from_df(df,article_column,*args):
    for i in args:
        df = df[df[article_column] != i]
    return df

In [121]:
df = column_with_desired_data(df,'ARTÍCULO','DESCRIPCIÓN','VTA. PROMEDIO','STOCK','articulo','descripcion','venta promedio','stock')

In [122]:
df = delete_rows_from_df(df,'articulo',2731,2776,2705)

In [123]:
df = sorted_and_cumulative_df(df,'venta promedio','acumulado VPD')

In [124]:
 df = vpd_weight(df,'acumulado VPD','Peso de VPD acum.')

In [125]:
result_df = abc_classification(df,'Peso de VPD acum.')

In [126]:
df_pc_raw = pd.read_excel('20230518130636_PRV-1_FECVIG-20230517_plantillaPreciosCompra.xlsx', header = 1)

In [127]:
df_pc_filtered = df_pc_raw[['Artículo','Precio Neto + I. Internos']]

In [128]:
stock_classified_with_value = stock_with_price(result_df,'articulo',df_pc_filtered,'Artículo','Valorizado','Precio Neto + I. Internos','stock')

In [129]:
stock_classified_with_value

,descripcion,venta promedio,stock,acumulado VPD,Peso de VPD acum.,categoria,Precio Neto + I. Internos,Valorizado
7038,BRAHMA - X12 1000RET#,1056.42,3644.50,1056.42,31.084982,A,4269.638,15560695
7634,BRAHMA - 4X6 LAT 473,289.64,1160.21,1346.06,39.607590,A,4912.105,5699073
25668,PEPSI NF PET X6 500CC,125.88,446.17,1471.94,43.311588,A,894.73,399201
7026,QUILMES - X12 1000RET,102.76,224.42,1574.70,46.335284,A,4015.173,901085
25644,7-UP NF PET X6 500CC,99.96,487.00,1674.66,49.276590,A,883.783,430402
...,...,...,...,...,...,...,...,...
21973,PEPSI NF PET X12 500,0.00,0.00,3398.49,100.000000,C,1789.46,0
22185,GLACIAR SG PET X6 750 222 PC,0.00,0.00,3398.49,100.000000,C,1467.257,0
27488,BRAHMA MUSICA RET X12 1000CC,0.00,0.00,3398.49,100.000000,C,4269.638,0
22329,NOVECENTO MALBEC OW X6 750CC,0.00,0.00,3398.49,100.000000,C,3872.176,0
24116,PDTOROS PET POM SIN AZUCARES X6 1500CC,0.00,0.00,3398.49,100.000000,C,1967.418,0

In [130]:
df_dict = dataframe_dictionary(stock_classified_with_value,'categoria')

In [ ]:
#[{'points': 50, 'time': '5:00', 'year': 2010}, 
 #{'points': 25, 'time': '6:00', 'month': "february"}, 
# {'points':90, 'time': '9:00', 'month': 'january'}, 
 #{'points_h1':20, 'month': 'june'}]*/

In [178]:
def abc_statistics(complete_dataframe, classification_column,value_column,a=80,b=95):
    total_value = complete_dataframe[value_column].sum()
    lista_df=[]

    category_list=['A','B','C']
    col_headers = ['Rotación','Valorizado','Peso porcentual(%)','Target peso porcentual(%)']

    for i in category_list:
            aux_list=[]
            aux_list.append(i)
            aux_list.append(complete_dataframe[complete_dataframe[classification_column] == i][value_column].sum())
            aux_list.append(round(complete_dataframe[complete_dataframe[classification_column] == i][value_column].sum()/total_value*100,2))
            if(i == 'A'):
                aux_list.append(a)
            elif(i == 'B'):
                aux_list.append(b-a)
            else:
                aux_list.append(100-b)
            lista_df.append(aux_list)

    df_stats = pd.DataFrame(lista_df)
    df_stats = df_stats.rename(columns={0:'Categoría',1:'Valorizado',2:'Peso porcentual(%)',3:'Target peso porcentual(%)'})
    return df_stats

In [179]:
df_stats = abc_statistics(stock_classified_with_value,'categoria','Valorizado')

In [180]:
df_stats

  Categoría  Valorizado  Peso porcentual(%)  Target peso porcentual(%)
0         A    87768549               36.08                         80
1         B    62788743               25.81                         15
2         C    92685799               38.10                          5

In [131]:
df_dict['A']['Valorizado'].sum()

87768549

In [132]:
df_dict['B']['Valorizado'].sum()

62788743

In [133]:
df_dict['C']['Valorizado'].sum()

92685799

In [183]:
def export_excel(df_dict, df_stats, file_name):
    writer = pd.ExcelWriter(file_name + ".xlsx", engine="xlsxwriter")


    for i in df_dict:
        df_dict[i].to_excel(writer, sheet_name=i)
        workbook = writer.book
        worksheet = writer.sheets[i]
        cell_format = workbook.add_format({"border": 1})

        for j in range(140):
            worksheet.set_row(j, 25, cell_format)
            worksheet.set_column(j, width=10, last_col=12)
            if j == 2:
                worksheet.set_column(j, width=42, last_col=12)
    df_stats.to_excel(writer, sheet_name='Stats')
    workbook = writer.book
    worksheet = writer.sheets[i]
    cell_format = workbook.add_format({"border": 1})
    writer.close()

In [184]:
export_excel(df_dict, df_stats, 'Planilla procesada ABC')