In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("punto_de_pedido.xlsx")

In [3]:
df

,ARTÍCULO,ARTÍCULO COMPAÑÍA,DESCRIPCIÓN,BULTOS X PISO,BULTOS X PALLETS,STOCK,VTA. PROMEDIO,COEF. ACCIÓN,VTA. CALCULADA,DÍAS DE STOCK,POLITICA,YA PEDIDO,FECHA ÚLTIMO PEDIDO,DÍAS VENTANA,DÍAS PARA ARRIBO,STOCK TEÓRICO AL ARRIBO,MIN. NECESARIO,MIN. A PEDIR,MIN. PALLETS A PEDIR,PEDIR?
0,591,NaN,MIRINDA MANZANA * X8 PET2250,0,60,30.00,3.28,1,3.28,9.0,0,0,NaN,0,0,0,0.0,0.0,0,NO
1,627,NaN,MIRINDA NARANJA * X8 PET2250,0,60,66.75,10.48,1,10.48,6.0,0,0,NaN,0,0,0,0.0,0.0,0,NO
2,641,NaN,MIRINDA NARANJA * 4X6 LAT 354,0,120,119.00,5.27,1,5.27,22.0,0,0,NaN,0,0,0,0.0,0.0,0,NO
3,691,NaN,MIRINDA NARANJA * X12 PET 500#,0,168,0.00,0.00,1,0.00,NaN,0,0,NaN,0,0,0,0.0,0.0,0,NO
4,870,NaN,GLACIAR AGUAC/G * X6 PET1500,0,125,0.00,0.00,1,0.00,NaN,0,0,NaN,0,0,0,0.0,0.0,0,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,78219,NaN,BARRA ARROZ CHOCO FRUT-LIM-SEMI X36 12GR,0,288,504.00,2.24,1,2.24,225.0,0,0,NaN,0,0,0,0.0,0.0,0,NO
331,78221,NaN,CEREAL BOW ORIG Y CACAO CROWIE X24 12GR,0,280,0.50,0.00,1,0.00,NaN,0,0,NaN,0,0,0,0.0,0.0,0,NO
332,78233,NaN,YERBA MATE CACHAMATE X12 500GR,0,91,40.00,0.00,1,0.00,NaN,0,0,NaN,0,0,0,0.0,0.0,0,NO
333,78244,NaN,STA HAMACA CORONA 2021,0,12,1.10,0.03,1,0.03,36.0,0,0,NaN,0,0,0,0.0,0.0,0,NO
334,78263,NaN,"STA TWOPACK PATAGONIA RIESGEE 0,5",0,294,0.00,0.48,1,0.48,0.0,0,0,NaN,0,0,0,0.0,0.0,0,SI

In [4]:
def column_with_desired_data(raw_dataframe, art, descrip, stock, vpd,a='',b='',c = '',d=''):

    result_df = raw_dataframe[[art,descrip,vpd,stock]]
    if a != '':
        result_df = result_df.rename(columns={art:a})
  
    if  b != '':
        result_df = result_df.rename(columns={descrip:b})

    if c != '':
        result_df = result_df.rename(columns={vpd:c})

    if d != '':
        result_df = result_df.rename(columns={stock:d})    
         
    return result_df

In [5]:
def sorted_and_cumulative_df(df, column_to_sort, cum_name):
    df = df.sort_values(column_to_sort, ascending=False)
    df[cum_name] = df[column_to_sort].cumsum()
    return df

In [6]:
def vpd_weight(df, cum_column, weights_name):
    total_vpd = list(df[cum_column])[-1]
    df[weights_name] = df[cum_column].apply(lambda x: (x/total_vpd)*100)
    return df

In [7]:
def compare_with_limits(x,a,b):
    if x <= a:
        return 'A'
    elif  x <= b and x > a:
        return 'B'
    else:
        return 'C'

In [8]:
def abc_classification(df,weights_column,a=80, b=95, category_col_name = 'categoria'):
    df[category_col_name] = df[weights_column].apply(lambda x: compare_with_limits(x,a,b))
    return df

In [15]:
def dataframe_dictionary(complete_dataframe, category_column):
    dict_df = {}
    dict_df['A'] = df[df[category_column] == "A"]
    dict_df['B'] = df[df[category_column] == "B"]
    dict_df['C'] = df[df[category_column] == "C"]
    return dict_df

In [24]:
def stock_with_price(df1, column_df1,df2, column_df2,value_column, price_column_name,stock_column_name):
    df1 = df1.set_index(column_df1)
    df2 = df2.set_index(column_df2)
    result = pd.concat([df1, df2], axis=1, join="inner")
    result[value_column] = result[price_column_name] * result[stock_column_name]
    result[value_column] = result[value_column].apply(lambda x: int(x))
    return result

In [9]:
df = column_with_desired_data(df,'ARTÍCULO','DESCRIPCIÓN','VTA. PROMEDIO','STOCK','articulo','descripcion','venta promedio','stock')

In [10]:
df

     articulo                               descripcion  venta promedio  stock
0         591              MIRINDA MANZANA * X8 PET2250           30.00   3.28
1         627              MIRINDA NARANJA * X8 PET2250           66.75  10.48
2         641             MIRINDA NARANJA * 4X6 LAT 354          119.00   5.27
3         691            MIRINDA NARANJA * X12 PET 500#            0.00   0.00
4         870              GLACIAR AGUAC/G * X6 PET1500            0.00   0.00
..        ...                                       ...             ...    ...
330     78219  BARRA ARROZ CHOCO FRUT-LIM-SEMI X36 12GR          504.00   2.24
331     78221   CEREAL BOW ORIG Y CACAO CROWIE X24 12GR            0.50   0.00
332     78233            YERBA MATE CACHAMATE X12 500GR           40.00   0.00
333     78244                    STA HAMACA CORONA 2021            1.10   0.03
334     78263         STA TWOPACK PATAGONIA RIESGEE 0,5            0.00   0.48

[335 rows x 4 columns]

In [11]:
df = sorted_and_cumulative_df(df,'venta promedio','acumulado VPD')

In [12]:
vpd_weight(df,'acumulado VPD','Peso de VPD acum.')

,articulo,descripcion,venta promedio,stock,acumulado VPD,Peso de VPD acum.
26,2731,Q CERVEZAS 1/1,307609.00,3.04,307609.00,45.083326
27,2776,BOT 1/1 ARACELI 1000CC X12,303212.00,4.83,610821.00,89.522225
34,7038,BRAHMA - X12 1000RET#,3644.50,1056.42,614465.50,90.056365
24,2705,BOTSA 975VX12,2925.00,0.00,617390.50,90.485054
128,21862,CORONA CAN 4X6 410CC 6P CART,2423.54,21.33,619814.04,90.840249
...,...,...,...,...,...,...
62,13502,STELLA ARTOIS CAN 4X6 473,0.00,2.11,682312.13,100.000000
252,27139,QUILMES MUNDIAL PROMO RET X12 1000CC,0.00,0.00,682312.13,100.000000
68,13953,PEPSI PET X12 500 BLACK,0.00,0.00,682312.13,100.000000
71,14625,GATORADE MANZANA PET X6 750 204,0.00,6.44,682312.13,100.000000
334,78263,"STA TWOPACK PATAGONIA RIESGEE 0,5",0.00,0.48,682312.13,100.000000

In [13]:
result_df = abc_classification(df,'Peso de VPD acum.')

In [14]:
result_df.head(5)

,articulo,descripcion,venta promedio,stock,acumulado VPD,Peso de VPD acum.,categoria
26,2731,Q CERVEZAS 1/1,307609.00,3.04,307609.00,45.083326,A
27,2776,BOT 1/1 ARACELI 1000CC X12,303212.00,4.83,610821.00,89.522225,B
34,7038,BRAHMA - X12 1000RET#,3644.50,1056.42,614465.50,90.056365,B
24,2705,BOTSA 975VX12,2925.00,0.00,617390.50,90.485054,B
128,21862,CORONA CAN 4X6 410CC 6P CART,2423.54,21.33,619814.04,90.840249,B

In [16]:
df_dict = dataframe_dictionary(result_df,'categoria')

In [17]:
df_dict['C']

,articulo,descripcion,venta promedio,stock,acumulado VPD,Peso de VPD acum.,categoria
70,14624,GATORADE COOL BLUE PET X6 750 204,732.00,6.40,648773.72,95.084594,C
93,18743,NPV SG PET X6 1500 PR 1.5L S/G,732.00,14.28,649505.72,95.191876,C
140,22278,ECO DE LOS ANDES SG PET X12 500 - 203 PC,727.00,8.88,650232.72,95.298426,C
11,1422,GATORADE UVA * X6 PET 500,701.00,12.36,650933.72,95.401165,C
190,24931,STELLA ART NOIRE PM CAN 4X6 473CC CART,668.25,0.39,651601.97,95.499104,C
...,...,...,...,...,...,...,...
62,13502,STELLA ARTOIS CAN 4X6 473,0.00,2.11,682312.13,100.000000,C
252,27139,QUILMES MUNDIAL PROMO RET X12 1000CC,0.00,0.00,682312.13,100.000000,C
68,13953,PEPSI PET X12 500 BLACK,0.00,0.00,682312.13,100.000000,C
71,14625,GATORADE MANZANA PET X6 750 204,0.00,6.44,682312.13,100.000000,C
334,78263,"STA TWOPACK PATAGONIA RIESGEE 0,5",0.00,0.48,682312.13,100.000000,C

In [18]:
df_pc_raw = pd.read_excel('20230518130636_PRV-1_FECVIG-20230517_plantillaPreciosCompra.xlsx', header = 1)

In [19]:
df_pc_filtered = df_pc_raw[['Artículo','Precio Neto + I. Internos']]
df_pc_filtered

     Artículo Precio Neto + I. Internos
0    CARÁCTER                   DECIMAL
1           8                  1863.757
2          13                   730.103
3          19                   2447.68
4          26                  2744.709
..        ...                       ...
768     78219                  2179.926
769     78221                  2179.707
770     78233                  4554.992
771     78244                114061.321
772     78263                  2494.228

[773 rows x 2 columns]

In [26]:
stock_classified_with_value = stock_with_price(result_df,'articulo',df_pc_filtered,'Artículo','Valorizado','Precio Neto + I. Internos','stock')

In [27]:
stock_classified_with_value

,descripcion,venta promedio,stock,acumulado VPD,Peso de VPD acum.,categoria,Precio Neto + I. Internos,Valorizado
7038,BRAHMA - X12 1000RET#,3644.50,1056.42,614465.50,90.056365,B,4269.638,4510530
21862,CORONA CAN 4X6 410CC 6P CART,2423.54,21.33,619814.04,90.840249,B,7126.28,152003
13224,QUILMES 1890 CAN 4X6 473,2367.25,12.45,622181.29,91.187195,B,4522.473,56304
19019,BUD RET X12 1000 CMQ,2043.92,8.60,624225.21,91.486753,B,4396.471,37809
19088,PEPSI RECO PET X8 2000 NF,2012.00,48.85,626237.21,91.781632,B,1944.773,95002
...,...,...,...,...,...,...,...,...
13502,STELLA ARTOIS CAN 4X6 473,0.00,2.11,682312.13,100.000000,C,6991.919,14752
27139,QUILMES MUNDIAL PROMO RET X12 1000CC,0.00,0.00,682312.13,100.000000,C,4015.173,0
13953,PEPSI PET X12 500 BLACK,0.00,0.00,682312.13,100.000000,C,1789.46,0
14625,GATORADE MANZANA PET X6 750 204,0.00,6.44,682312.13,100.000000,C,1713.244,11033
78263,"STA TWOPACK PATAGONIA RIESGEE 0,5",0.00,0.48,682312.13,100.000000,C,2494.228,1197